{% extends 'index/index.html' %}

{% block nav %}{% endblock %}

{% block content %}
    {% if about %}
        <div class="col-md-8 offset-md-2">
            <div class="card bg-light text-dark">
                <div class="card-header">
                    <strong>{{ about.title }}</strong>
                </div>
                <div class="card-body">
                    <div class="text-dark">
                        {{ about.content | safe }}
                    </div>
                </div>
                <div class="card-footer">{{ about.pub_date | date:'Y-m-d H:i' }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
