{% extends 'index/index.html' %}

{% block nav %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <span>{{ 'About'|translate_str }} 
                    <strong>{{ year }}</strong> {{ 'year'|translate_str }}, 
                    <strong>{{ articles|length }}</strong> {{ 'articles are as follows'|translate_str }}:
                </span>
                <a class="text-dark float-right" href="{% url 'index:articles' %}" 
                    title="{{ 'All articles'|translate_str }}" data-toggle="tooltip" data-html="true" data-placement="top">
                    <i class="fa fa-table-list fa-2x"></i>
                </a>
            </div>
            <div class="card-body">
                {% if articles %}
                {% for article in articles %}
                <div class="list-group">
                    <div class="list-group-item">
                        <h4>
                            <a class="text-dark font-italic font-weight-bold"
                            href="{% url 'index:article_body' article.id %}">{{ article.title }}</a>
                        </h4>
                        <span class="text-muted">
                            posted @ {{ article.pub_date|date:'Y-m-d H:i' }}
                            &ensp; <i class="fa-solid fa-user"></i> {{ article.author }}
                            &ensp; <i class="fa fa-eye"></i> {{ article.views }}
                        </span>
                    </div>
                </div>
                <div class="row my-1"></div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-0 col-md-0 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h5>{{ category_to_article_count|length }} {{ 'tags is as follows'|translate_str }}: </h5>
            </div>
            <div class="card-body">
                {% if category_to_article_count %}
                {% for category, articles_count in category_to_article_count.items %}
                <a class="text-dark font-italic" href="{% url 'index:get_articles_by_category' category %}">
                    <div class="list-group-item">
                        {{ category }}
                        <div class="float-right">
                            {{ articles_count }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row my-1"></div>
        <div class="card">
            <div class="card-header">
                <h5>{{ year_to_article_count|length }} {{ 'years is as follows'|translate_str }}: </h5>
            </div>
            <div class="card-body">
                {% if year_to_article_count %}
                {% for year, articles_count in year_to_article_count.items %}
                <a class="text-dark font-italic" href="{% url 'index:get_articles_by_year' year %}">
                    <div class="list-group-item">
                        {{ year }}
                        <div class="float-right">
                            {{ articles_count }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
