{% extends 'index/index.html' %}

{% block nav %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h2>{{ article.title }} 
                    <a class="text-dark float-right" href="{% url 'index:articles' %}" 
                        title="全部文章" data-toggle="tooltip" data-html="true" data-placement="top">
                        <i class="fa fa-table-list"></i>
                    </a>
                </h2> 
                <small>
                    <i class="fa-solid fa-user"></i> {{ article.author }} &ensp;
                    <a class="text-dark" href="#" data-toggle="tooltip" data-html="true" data-placement="bottom"
                        title="发布：{{ article.pub_date|date:'Y-m-d H:i:s' }} <br> 修改：{{ article.mod_date|date:'Y-m-d H:i:s' }}">
                        <span> <i class="fa fa-calendar"></i> {{ article.pub_date|date:'Y-m-d H:i' }} </span>
                    </a> &ensp;
                    <i class="fa fa-tag"></i>
                    <a class="text-dark font-italic"
                        href="{% url 'index:get_articles_by_category' article.category %}"> {{ article.category }}</a> &ensp;
                    <i class="fa fa-eye"></i> {{ article.views }}
                </small>
            </div>
            <div class="card-body">
                <div class="markdown-body editormd-preview-container">{{ article.body|safe }}</div>
            </div>
        </div>
    </div>

    <div class="col-sm-0 col-md-0 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h5>{{ category_to_article_count|length }} 个标签如下：</h5>
            </div>
            <div class="card-body">
                {% if category_to_article_count %}
                {% for category, articles_count in category_to_article_count.items %}
                <a class="text-dark font-italic" href="{% url 'index:get_articles_by_category' category %}">
                    <div class="list-group-item">
                        {{ category }}
                        <div class="float-right">
                            {{ articles_count }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row my-1"></div>
        <div class="card">
            <div class="card-header">
                <h5>{{ year_to_article_count|length }} 个年份如下：</h5>
            </div>
            <div class="card-body">
                {% if year_to_article_count %}
                {% for year, articles_count in year_to_article_count.items %}
                <a class="text-dark font-italic" href="{% url 'index:get_articles_by_year' year %}">
                    <div class="list-group-item">
                        {{ year }}
                        <div class="float-right">
                            {{ articles_count }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
