{% extends 'index/index.html' %}

{% block nav %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <span><i class="fa-regular fa-comments"></i> {{ comments|length }} {{ 'messages'|translate_str }}</span>
            </div>
            <div class="card-body">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="d-inline-flex">
                                <div class="bg-secondary text-white rounded custom_avatar">
                                    {{ comment.author|slice:'0:1'|capfirst }}
                                </div>
                                <div class="p-2">
                                    <div class="text-black-50 custom_comment-info">
                                        <span class="mr-2">{{ comment.author }}</span>
                                        <span>{{ comment.sub_date|date:'Y-m-d H:i' }}</span>
                                    </div>
                                    <div class="font-weight-bold mb-2">{{ comment.content }}</div>
                                    <div class="d-flex bd-highlight">
                                        {% if comment.reply %}
                                            <div class="bg-secondary text-white rounded custom_avatar">
                                                {{ comment.reply.author|slice:'0:1'|capfirst }}
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="text-black-50 custom_comment-info">
                                                    <span class="mr-2">{{ comment.reply.author }}</span>
                                                    <span>{{ comment.reply.sub_date|date:'Y-m-d H:i' }}</span>
                                                </div>
                                                <div class="font-weight-bold">{{ comment.reply.content }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row my-1"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4">
        <form class="" method="post" action="{% url 'index:add_comment' %}">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <span><i class="fa-regular fa-comment-dots"></i> {{ 'Leave a message'|translate_str }}</span>
                </div>
                <div class="card-body">
                    <div>
                        <i class="fa-regular fa-user"></i> {{ comment_form.author.label_tag }} 
                        <span> {{ 'The name will be temporarily saved'|translate_str }} </span>
                        {{ comment_form.author }}
                    </div>
                    <div class="pt-2">
                        <i class="fa-regular fa-envelope"></i> {{ comment_form.email.label_tag }} 
                        <span> {{ 'The email will be temporarily saved'|translate_str }} </span>
                        {{ comment_form.email }}
                    </div>
                    <div class="pt-2">
                        <i class="fa-regular fa-comment"></i> {{ comment_form.content.label_tag }} 
                        {{ comment_form.content }}
                    </div>
                    {% if error %}
                        <div class="p-3 mb-2 bg-warning text-dark my-1">
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-light border border-secondary" type="submit">
                        <i class="fa-solid fa-check"></i> {{ 'Submit'|translate_str }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
