{% extends 'index/index.html' %}

{% block nav %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <span><i class="fa-regular fa-comments"></i> {{ comments|length }} 条留言</span>
            </div>
            <div class="card-body">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="d-inline-flex">
                                <div class="p-2 w-10 bg-secondary text-white rounded h-25">
                                    <!-- {{ comment.author|slice:'0:1' }} -->
                                    <i class="fa-solid fa-face-smile"></i>
                                </div>
                                <div class="p-2">
                                    <div class="text-black-50">
                                        {{ comment.author }}  {{ comment.sub_date|date:'Y-m-d H:i' }}
                                    </div>
                                    <div class="font-weight-bold">
                                        {{ comment.content }}
                                    </div>
                                    <div class="d-flex bd-highlight">
                                        {% if comment.reply %}
                                            <div class="p-2 bg-secondary text-white rounded h-25">
                                                <!-- {{ comment.reply.author|slice:'0:1' }} -->
                                                <i class="fa-solid fa-face-smile"></i>
                                            </div>
                                            <div class="p-2 w-100 bd-highlight">
                                                <div class="text-black-50">
                                                    {{ comment.reply.author }} {{ comment.sub_date|date:'Y-m-d H:i' }}
                                                </div>
                                                <div class="font-weight-bold">
                                                    {{ comment.reply.content }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row my-1"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <form class="" method="post" action="{% url 'index:add_comment' %}">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <span><i class="fa-regular fa-comment-dots"></i> <label>留言</label></span>
                </div>
                <div class="card-body">
                    <p>
                        <i class="fa-regular fa-user"></i> {{ comment_form.author.label_tag }} <span>名字将被临时保存</span>
                        {{ comment_form.author }}
                    </p>
                    <p>
                        <i class="fa-regular fa-envelope"></i> {{ comment_form.email.label_tag }} <span>邮箱将被临时保存</span>
                        {{ comment_form.email }}
                    </p>
                    <p>
                        <i class="fa-regular fa-comment"></i> {{ comment_form.content.label_tag }} 
                        {{ comment_form.content }}
                    </p>
                    {% if error %}
                        <div class="p-3 mb-2 bg-warning text-dark my-1">
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-light border border-secondary" type="submit"><i class="fa-solid fa-check"></i> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
