<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="shortcut icon" href="../../static/index/img/favicon.ico">
    <link rel="stylesheet" href="../../static/index/css/style.css">
    <link rel="stylesheet" href="../../static/index/css/code.css">
    <link rel="stylesheet" href="../../static/index/css/editormd.css">
    <link rel="stylesheet" href="../../static/index/font-awesome-6.4.2/all.min.css">
    <link rel="stylesheet" href="../../static/index/twitter-bootstrap-4.4.0/bootstrap.min.css">
    <script src="../../static/index/jquery-3.7.1/jquery.min.js"></script>
    <script src="../../static/index/font-awesome-6.4.2/all.min.js"></script>
    <script src="../../static/index/twitter-bootstrap-4.4.0/bootstrap.bundle.min.js"></script>
</head>

<body class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        {% block user %}
            {% if request.session.logged %}
                <div class="container">
                    <div class="float-right custom_user_avatar"><i class="fa-solid fa-person-swimming"></i></div>
                    <div type="button" class=" btn-secondary rounded-circle float-right custom_name_capfirst" id="popOver"
                            data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
                            title="{{ request.session.username }}" data-content="{% url 'index:logout' '$path' %}">
                        {{ request.session.username|slice:'0:1'|capfirst }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        <div class="row my-3"></div>
        {% block nav %}
        <div class="row">
            <div class="col-3 col-sm-2 col-md-2 offset-sm-2 offset-md-2 text-center">
                <a class="text-dark" href="{% url 'index:about' %}" target="_blank">
                    <i class="fa-solid fa-circle-info fa-3x"></i>
                    <p>About</p>
                </a>
            </div>
            <div class="col-3 col-sm-2 col-md-2 text-center">
                <a class="text-dark" href="{% url 'index:articles' %}" target="_blank">
                    <i class="fa fa-pencil-square fa-3x"></i>
                    <p>Article</p>
                </a>
            </div>
            <div class="col-3 col-sm-2 col-md-2 text-center">
                <a class="text-dark" href="{% url 'index:messages' %}" target="_blank">
                    <i class="fa-solid fa-message fa-3x"></i>
                    <p>Message</p>
                </a>
            </div>
            <div class="col-3 col-sm-2 col-md-2 text-center">
                <a class="text-dark" href="{% url 'index:files' %}" target="_blank">
                    <i class="fa-solid fa-file fa-3x"></i>
                    <p>File</p>
                </a>
            </div>
        </div>
        {% endblock %}
        <div class="row my-2"></div>
        {% block content %}
        <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div><i class="fa-regular fa-eye"></i> Today Visits: {{ today_visits.visits }}</div>
                    <div><i class="fa-solid fa-eye"></i> Total Visits: {{ total_visits.visits__sum }}</div>
                    <div><i class="fa-solid fa-clock"></i> Beijing Time: {{ localtime|date:'Y-m-d H:i:s' }}</div>
                </div>
            </div>
        </div>
        <div class="row my-1"></div>
        <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3"><h3>{{ 'Recent trends'|translate_str }}</h3></div>
        <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <div class="card">
                <div class="card-header">{{ 'Latest article'|translate_str }}</div>
                <div class="card-body">
                    <div>
                        <h2><a class="text-dark font-italic font-weight-bold"
                                href="{% url 'index:article_body' latest_article.id %}">{{ latest_article.title }}</a></h2>
                    </div>
                    <div class="text-muted">Posted @{{ latest_article.author }}  {{ latest_article.pub_date|date:'Y-m-d H:i' }}</div>
                    <div class="row my-1"></div>
                    <div>{{ latest_article.summary|safe }}</div>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="back-top">
            <span id="back-to-top" class="custom_back-to-top">
                <a href="#" class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="left" title="{{ 'Back to top'|translate_str }}">
                    <i class="fa-solid fa-angles-up"></i>
                </a>
            </span>
        </div>
        <script>
            // 回到顶部
            document.addEventListener("DOMContentLoaded", () => {
                const backToTop = document.querySelector("#back-to-top");
                window.addEventListener("scroll", () => {
                    if (window.pageYOffset > 600) {
                        backToTop.style.display = "block";
                        backToTop.style.opacity = "0.7";
                    } else {
                        backToTop.style.display = "none";
                        backToTop.style.opacity = "0";
                    }
                });
            });
            // 元素的 title 样式
            $(document).ready(() => {
                // bootsrap 弹窗
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();
                // 实现每个的 logout 传递到后台的参数是本页面 url
                let pathname = window.location.pathname.slice(1, );
                if (pathname == '') {
                    pathname = 'index';
                }
                let dataContent = $('#popOver').data("content");
                if (dataContent) {
                    dataContent = dataContent.replace('$path', pathname);
                    let content = "<a id='logoutDiv' class='text-dark' href=" + dataContent + ">{{ 'logout'|translate_str }}</a>";
                    $('#popOver').data("content", content);
                    $('#popOver').attr("data-content", content);
                }
                $('#popOver').click(() => {
                    $('#logoutDiv').click(() => {
                        localStorage.setItem('login', 'false');
                    });
                });
            });
        </script>
    </div>
</body>
</html>
